@import '../Variables/Variables';

.home-form {
    width: 95%;
    position: relative;
    top: 3vh;
    margin: 0 auto;
    box-sizing: border-box;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f0f0;

    .left-side-text {
        width: 35%;
        font-family: 'Lato',sans-serif;
        h1{
            font-weight: 700;
            color: black;
            font-size: 32px;
        }
        p{
            font-size: 22px;
        }
    }

    #form--separator{
        height: 70%;
        border-left: 2px solid #605f5f ;
    }

    .right-side-form {
        width: 50%;
        height: 90%;
        background-color: rgb(205, 205, 205);
        margin-left: 3vw;
        border-radius: 20px;

        h2{
            color: #2a2525;
            height: 8vh;
            padding-top: 3vh;
            text-align: center;
            font-size: 35px;
            font-weight: 900;
            font-family: 'Oswald',sans-serif;
            margin: 0;
        }

        .form-input {
            outline: none;
            margin-left: 12%;
            margin-top: 4%;
            width: 75%;
            height: 5vh;
            border-radius: 6px;
            border: none;
            color: grey;
            font-size: 16px;
            padding-left: 0.8vw;

            &:hover{
                outline: none;
            }
        }
        .form-select {
            margin-left: 12%;
            height: 5vh;
            color: grey;
            font-size: 16px;
            padding-left: 0.8vw;
            border-radius: 6px;
            margin-top: 4%;
            width: 77%;

            &:hover {
                outline: none;
            }
        }
        .form-button {
            margin-left: 12%;
            height: 1.5rem;
            padding: 2px;
            background-color: #5fb6ed;
            border: none;
            border-radius: 5px;
            color: white;
            text-align: center;
            font-size: 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            width: 77%;
            margin-top: 3%;
        }
    }
}

@media (min-width:360px) and (max-width:450px){
    .home-form{
        width: 100%;
        flex-direction: column;
        height: max-content;
        .left-side-text{
            width: 100%;
            text-align: center;
            h1{
                margin: 0;
            }
        }
        .right-side-form{
            width: 95%;
            margin: 0;
            padding-bottom: 5%;
            margin-bottom: 5%;
            h2{
                font-size: 26px;
            }
            .form-input{
                margin-top: 2%;
            }
        }
    }
}